* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body {
  /* position: absolute; */
  background-color: #fff !important;
}
.wrapper {
  width: 100%;
  position: relative;
}
header {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 1200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  width: 100%;
}
nav {
  /* width: 100vw !important; */
  max-width: 100% !important;
  height: 80px;
  display: flex;
  background: #000 !important;
  color: #fff !important;
}
nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
}
.navTitleBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 2px solid #dcdcdc;
}
.navLangBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navTitle {
  height: 40px !important;
}
.nav-link {
  font-size: 18px !important;
  color: #fff !important;
}
.lang {
  display: flex;
  flex-direction: row;
  color: #666666;
  font-weight: 600;
  font-size: 18px;
  margin: 0 !important;
}
.lang strong {
  color: #fff;
  font-weight: 700;
}
.headImg {
  background-image: url("./assets/header.png");
  margin: 0 !important;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: calc(100% - 80px);
}
.posterBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  height: calc(100% - 80px);
  max-width: 1200px !important;
  color: #fff;
}
.posterBlock h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.posterBlock p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin: 20px 0 40px;
}
#linkBtn {
  width: 246px;
  height: 65px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #111111 !important;
  background-color: #fff !important;
  border: none;
  outline: none;
}

/* About Section */
.about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  max-height: max-content;
  position: relative;
  margin-top: 20px !important;
}
.about .col-3 {
  padding: 20px;
  /* margin-right: 20px; */
  border-right: 2px solid #dcdcdc;
  height: 300px;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  position: relative;
  left: 0;
}
.aboutTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #bdbdbd;
  text-transform: uppercase;
}
.about .col-9 {
  padding: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  right: 0;
  border: 2px solid #bdbdbd;
  border-left: none;
  border-right: none;
}
.compInNumb .col-9::after,
.about .col-9::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #fff;
  top: -20px;
  left: -20px;
}
.compInNumb .col-9::before,
.about .col-9::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-color: #fff;
  bottom: -20px;
  left: -20px;
}
.boxTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
}
/* Company in Numbers */

.compInNumb {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 780px;
  max-height: max-content;
  position: relative;
  margin-top: 20px !important;
}
.compInNumb .col-3 {
  height: 100%;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  padding: 20px;
  position: relative;
}
.compInNumb .col-9 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-bottom: 2px solid #dcdcdc;
  position: relative;
  padding: 20px;
}
.compInNumb .col-9 img {
  width: 890px;
  height: 500px;
  position: absolute;
  top: 0;
}
.boxDbTxt {
  display: flex;
  align-items: flex-end;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  flex-direction: row;
}
.linkTo {
  color: #666666;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
/* Services  */
.services {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 780px;
  max-height: max-content;
  position: relative;
  margin-top: 20px !important;
}
.services .col-3 {
  height: 100%;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  padding: 20px;
  position: relative;
}
.services .col-9 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  border-bottom: 2px solid #dcdcdc;
  position: relative;
  padding: 20px;
}
.servCardsBox{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100px;
    position: relative;
    height: 300px;
}
.numbBox{
    width: 300px;
    height: 260px;
    position: relative;
}
.boxNumb{
    position: absolute;
    bottom: 20px;
}
.boxNumb span{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 110%;
    color: #111;
}
.boxNumb p {
    font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #333333;
}